@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'rockwell';
}
.icon {
    width: 80px;
    padding: 10px;
}
.logo {
    width: 80px;
    margin-right: 1600px;
}
#hero-img {
    width: 100%;
}
nav a {
    color : #154467;
    text-decoration: none;
    text-align: center;
    margin-right: 100px;
    padding: 35px;
}
#hero-msg {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    margin: 0 auto;
    max-width: 800px;
}
#background {
    height: 725px;
    background-color: #0C3C62;
}
body {
    background-color: #8EABBD;
    margin: 0;
    padding: 0;
}
header {
    background-color: #e1b72b;
    font-family: 'rockwell' 
}
nav a:hover {
    background-color: #79C5D7;
    color: #000000;
}
.book:hover {
    background-color: #79C5D7;
    color: #000000;
    text-decoration: none;
}
.book {
    background-color: #e7e6e6;
    color: #154467;
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
}
.join:hover {
    background-color: #79C5D7;
    color: #000000;
}
.join {
    background-color: #e7e6e6;
    color: #154467;
    text-decoration: none;
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
}
footer {
    background-color: #e1b72b;
    color : #154467;
    padding: 50px; 
    margin-top: 200px;
}
footer a {
    color: #154467;
    text-decoration: none;
}
footer a:hover {
    background-color: #79C5D7;
    color: #000000;
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: underline;
    background-color: #79C5D7;
    color: #000000;
}
h1 {
    color: #154467;
    font-family: 'papyrus';
    font-size: 3em;
}
.home title {
    color: #154467;
    margin-top: 10px
}
h4 {
    color: #154467;
    font-size: 2em;
}
h2 {
    color: #154467;
    font-family: "papyrus";
    margin: 0;
}
h3 {
    color: #154467;
}
.msg {
    background-color: #e1b72b;
    color: #154467;
    padding: 35px;
    text-align: center;
}
#logo_link {
    padding-top: 5px;
}
.msg p {
    padding-bottom: 15px;
}
footer .social img {
    padding: 15px;
}
.rivers-card {
    margin: 200px 0;
    padding-left: 430px;
    text-align: center;
}
.camping-card {
    margin: 200px 0;
    padding-left: 430px;
    text-align: center;
}
.rapids-card {
    margin: 200px 0;
    padding-left: 430px;
    text-align: center;
}
.card-img {
    border: 10px solid #000000;
}
main section img {
    box-sizing: border-box;
}
.mountains {
margin-top: 90px;
margin-bottom: 200px;
}
