#content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#Quote {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#doctrine {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
#picture {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}